# ============ Global ============ #
# Ignore node_modules
node_modules

# Ignore production
dist

# Ignore .env
.env

# ============  Other  ============= #
# Ignore .vscode
.vscode/

# Ignore .idea
.idea/