# ============ Global ============ #
# Ignore node_modules
node_modules

# Ignore production
dist

# Ignore .env
.env

# ============  Other  ============= #
# Ignore .vscode
.vscode/

# Ignore .idea
.idea/

# TODO: Remove this line after the implement
fe/src/utils/authenticate/token.ts
be/src/api/user.ts
be/src/routes/user.ts
