.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.image {
    border-radius: 2rem;
}

.description {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    max-width: 70%;
}

.statusCode {
    font-size: 1.5em;
    font-weight: 700;
    margin-right: 1rem;
    padding-right: 1rem;
    border-right: solid 1px var(--mui-palette-text-primary);
}