.navbar {
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    background-color: var(--mui-palette-background-default);
    top: 0;
    padding: 8px 16px;
    width: 100%;
    z-index: 999;
}

.start {
    flex: 0 0 80px;
}

.center {
    flex: 0 1 690px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.end {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}