.container {
    width: 100%;
    padding: 2rem;
}

.container :global(.carousel.carousel-slider) {
    overflow: visible;
}

.arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    z-index: 1;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.3);
}

.arrows:hover {
    background-color: var(--mui-palette-background-default);
}   

.rightArrow {
    right: 0;
    transform: translateX(50%);
}

.leftArrow {
    left: 0;
    transform: translateX(-50%);
}

.hidden {
    opacity: 0;
}


.film {
    overflow: hidden;
    border-radius: 1.7rem;
    background-color: black;
}

.poster {
    position: relative;
    height: 560px;
    pointer-events: fill !important;
    border-radius: 1.7rem;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay .originName {
    margin-top: 0.3rem;
    color: var(--mui-palette-text-secondary);
    font-size: 0.8em;
}

.overlay .stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 1rem;
    padding-inline: 0.5rem;
}

.overlay .description {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: start;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    margin-top: 2rem;
}

.overlay .categories {
    text-align: start;
    margin-top: 2rem;
}

.overlay .link {
    display: block;
    margin-top: 2rem;
}