.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 215px);
    grid-gap: 1rem;
    justify-content: space-between;
    width: 100%;
    padding: 2rem;
}

.container::after {
    content: "";
    flex: auto;
}

.film {
    position: relative;
    width: 215px;
    text-decoration: none;
    color: inherit;
}

.film img {
    border-radius: 1rem;
    transition: transform 0.3s;
}

.attributes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3rem;
    padding: 0.5rem;
}

.name {
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    text-align: center;
}

.view {
    color: var(--mui-palette-text-secondary);
    text-align: center;
    font-size: 0.9em;
}